In [8]:
# this example shows how to open non-standard csv
import pandas as pd

In [9]:
# read cars the standard way
cars=pd.read_csv('cars.csv')

# print out shape and display first few rows, note all data was read into a single column
print(cars.shape)
cars.head()

(407, 1)

  Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
0  STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
1  Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
2  Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
3  Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...
4  AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US

In [10]:
# if you look closely you will see the data was separated with ';' instead of ','.  To deal with this
# we need to add an extra parameter when we read
cars2=pd.read_csv('cars.csv', sep=';')

print(cars2.shape)
cars2.head()

(407, 9)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US